<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>
	TrabComErros</display-name>
	<servlet>
		<description>
		</description>
		<display-name>
		TrabComErros</display-name>
		<servlet-name>TrabComErros</servlet-name>
		<servlet-class>
		meupacote.TrabComErros</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		EnviandoErros</display-name>
		<servlet-name>EnviandoErros</servlet-name>
		<servlet-class>
		meupacote.EnviandoErros</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TrabComErros</servlet-name>
		<url-pattern>/TrabComErros</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EnviandoErros</servlet-name>
		<url-pattern>/EnviandoErros</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<exception-type>java.lang.NumberFormatException</exception-type>
		<location>/erro_nfe.html</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.ArithmeticException</exception-type>
		<location>/erro_ae.html</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/404.html</location>
	</error-page>	
	<context-param>
		<param-name>val1</param-name>
		<param-value>10</param-value>
	</context-param>
	<context-param>
		<param-name>val2</param-name>
		<param-value>2</param-value>
	</context-param>
</web-app>
