.campo{
	border-top: solid #333333 1px;
	border-left: solid #333333 1px;
	border-bottom: solid #CCCCCC 1px;
	border-right: solid #CCCCCC 1px;
	font-size: 13px;
	margin-bottom: 10px;
	color: #0E0659;
}

#msg{
	font-family: verdana;
	font-weight: bold;
	color: green;
}

.grid{
	width: 70%;
	border-spacing: 0px;
	margin: 0 auto;
	border: solid 1px #000
}

.grid td{
	border-right: solid 1px #000; 
	border-top: solid 1px #000; 
}

.grid thead{
	text-align: center;
	font-size: 12px;
	background-color: #CCCCCC;

}

.grid thead th{
	padding: 2px;
	border-bottom: 1px solid #000; 
	border-right: 1px solid #000;
}
.grid tbody td{
	font-size: 12px;
	padding: 2px;
}
.imagem{
	border:0px;
}
.centro{
	text-align: center;

}


